<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Read Products</h1>
        </div>
    </div>
</div>
<div class="row m-b-18px">
    <div class="col-md-12">
        <a class="btn btn-primary pull-right" routerLink="/create">
            <span class="glyphicon glyphicon-plus"> CreateProduct</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive table-bordered">
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category_name}}</td>
                <td>
                    <a class="btn btn-primary m-r-5-px" (click)="clickId(product.id)">
                        <span class="glyphicon glyphicon-eye-open"></span>Read
                    </a>

                    <a class="btn btn-info m-r-5px" (click)="update(product.id)">
                        <span class="glyphicon glyphicon_edit"></span> Edit
                    </a>

                    <a class="btn btn-danger m-r-5px" (click)="remove(product.id)">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </a>

                </td>
            </tr>
        </table>
    </div>
</div>
